server.port: 9191

{# {% set env = "Production" %}
{% if env != "Production" %} #}
    {# Developers don't always run with any caching:#}
    {# spring.cache.type=NONE
{% elif env == "Production" %} #}
    {# Production MUST have caching. See docs below.#}
    memcached.cache.servers: {% for host in groups['memcached'] %} {{ "%s:11211 %s"|format(hostvars[host]["private_ip"], "," if not loop.last else "") }} {% endfor %}
    
    memcached.cache.mode: dynamic
    memcached.cache.expirations: 3600, oembed:3600
{# {% endif %} #}


# MEMCACHED CACHE
#memcached.cache.servers: # Comma-separated list of hostname:port for memcached servers (default "localhost:11211")
#memcached.cache.mode: # Memcached client mode (use one of following: "static", "dynamic"). Default mode is "static", use "dynamic" for AWS node auto discovery
#memcached.cache.expirations: # Cache expirations in seconds (default "60"). To set new global expiration use value without colon: {number} e.g. "86400". To set value per cache name use format: {cache_name}:{number} e.g. "oembed:3600". 
#memcached.cache.prefix: # Cache key prefix (default "memcached:spring-boot")
#memcached.cache.namespace: # Cache eviction namespace key name (default "namespace")
#memcached.cache.protocol: # Memcached client protocol. Supports "text" and "binary" protocols (default is "text" protocol)


#Metrics related configurations
management.endpoint.metrics.enabled=true
management.endpoints.web.exposure.include=*
management.endpoint.prometheus.enabled=true
management.metrics.export.prometheus.enabled=true

management.metrics.distribution.percentiles-histogram.http.server.requests: true
management.metrics.distribution.sla.server.requests: 450ms